# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# Rider
.idea/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Others
*.db
*.pdb

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*